:root {
  --color-black: #14151a;
  --color-gray-1: #888790;
  --color-gray-2: #a2a2ac;
  --color-gray-3: #dddcdf;
  --color-white-1: #79747e;
  --color-white-2: #fafafb;
  --color-white-3: #a4a1aa;

  --color-brand-red: #f94f59;
  --color-brand-blue: #3e3eff;
}
