.ProductForm {
  background-color: var(--color-white-2);
  border-radius: 25px;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
}

.ProductForm .product-file {
  display: none;
}

.ProductForm .product-label {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 31px;
  border: 1px solid var(--color-brand-blue);
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-14);
  font-weight: var(--weight-medium);
  padding: 5px 10px;
  color: var(--color-brand-blue);
}
.ProductForm p:first-child {
  padding-top: 0px;
}
.ProductForm p {
  font-size: var(--font-16);
  font-weight: var(--weight-semibold);
  padding: 10px 0;
}
.ProductForm .product-preview{
  position: relative;
}
.ProductForm .product-preview-text {
  padding-top: 5px;
  height: 55px;
  font-size: var(--font-17);
  font-weight: var(--weight-regular);
  color: var(--color-gray-1);
}
.ProductForm input {
  width: 100%;
  border: none;
  background-color: var(--color-white-2);

  font-size: var(--font-17);
  font-weight: var(--weight-regular);
  color: var(----color-black);
  margin-bottom: 20px;
}
.ProductForm input::placeholder {
  width: 100%;
  border: none;
  background-color: var(--color-white-2);
  color: var(--color-gray-1);
  margin-bottom: 20px;
}
.ProductForm .pw-visible-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ProductForm .pw-visible-btn input{
  margin: 0px;
  width: 70%;
}