.ProductList {
  width: 696px;
  margin: 0 auto;
}
.ProductList .Product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.ProductList .Product-top h2 {
  font-size: var(--font-16);
  font-weight: var(--weight-semibold);
}

